# Gradle
.gradle/
build/

# Android
local.properties
app/build/

# IntelliJ / Android Studio
.idea/
*.iml

# Kotlin
.kotlin/

# OS
.DS_Store
Thumbs.db


# Scripts locais
*.bat
git_status.tmp
Android/
